.memo{
    border: 5px black solid;
    border-radius: 1rem;
    position:relative;
    width: var(--sidebar-width);
}
.memo:hover{
    cursor:pointer;
}
.memo:active{
    background-color: rgba(255, 255, 255, 0.23);
}
.memo-action{
    background-color: black;
    color:white;
    border: 1px white solid;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:1.25rem;
    border-radius:2rem;
    padding: 0 1rem;
}
.memo-text{
    font-size:3rem;
    color:black;
    background: linear-gradient(white, gray);
    display:flex;
    flex-flow:column;
    align-items: center;
    border-top: 2rem lightgreen solid;
    border-bottom:.25rem lightgreen solid;
    border-radius:.75rem;
}