.popup-container{
    border:1px pink solid;
    background-color:white;
    padding:5rem;
    border-radius:1rem;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    pointer-events: none;
    z-index: 5;
}

.popup-fade{
    animation: fade 1.5s forwards;
}

@keyframes fade{
    0%{
        opacity:100%;
    }
    50%{
        opacity:100%;
    }
    100%{
        opacity:0%;
    }
}