.container{
    border: 1px black solid;
    background-color:white;
    border-radius:1rem;
    width:fit-content;
    text-align: center;
    width:var(--sidebar-width);
    line-height: .75rem;
}

.container h2{
    font-size:3rem;
}

/* mobile */
@media (max-width:480px){
    .container h2{
        font-size:1.5rem;
        font-weight: bold;
    }
  }