.tile{
    background-color: pink;
    width:5rem;
    height:5rem;
    font-size:2.5rem;
    line-height: 4.5rem;
    text-align: center;
    margin:1rem;
    border-radius:.5rem;
    border: 3px black solid;
    color:transparent;
}
.active-tile{
    border-color: red;
}
.tile:hover{
    cursor: pointer;
}

.flip{
    animation: 1s forwards tileflip;
}

.bomb{
    opacity: 0;
    width:3rem;
}

.flip .bomb{
    opacity:1;
}

.row-tile{
    color:black;
    font-size:1.5rem;
    line-height:2.5rem;
    text-align: right;
}



@keyframes tileflip {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
        background-color: pink;
        border-color: black;
        color: transparent;
    }
    49.99% {
        transform: rotate3d(0, 1, 0, 90deg);
        background-color: pink;
        border-color: black;
        color: transparent;
    }
    50% {
        transform: rotate3d(0, 1, 0, 90deg);
        background-color: green;
        border-color: pink;
        color: white;
    }
    100% {
        transform: rotate3d(0, 0, 0, 0deg);
        background-color: green;
        border-color: pink;
        color: white;
    }
}