.tile{
    background-color: pink;
    aspect-ratio: 1;
    flex:1;

    font-size:2rem;
    line-height: 4rem;
    text-align: center;
    margin:.1rem;
    border-radius:.5rem;
    border: 3px black solid;
    color:transparent;
    position:relative;
}
.tile:hover{
    cursor: pointer;
}

.indicator{
    color:red;
    position:absolute;
    font-size:0.5em;
    line-height: 1em;
}
.indicator-bomb{
    top:0;
    left:0;
    border:.5rem red solid;
    border-radius: 1rem;
}
.indicator-1{
    top:0;
    right:0;
}
.indicator-2{
    bottom:0;
    left:0;
}
.indicator-3{
    bottom:0;
    right:0;
}

.flip{
    animation: 1s forwards tileflip;
}

.bomb{
    opacity: 0;
    width:3rem;
}

.flip .bomb{
    opacity:1;
}

.row-tile{
    color:black;
    line-height:2rem;
    text-align: right;
    position:relative;
}
.row-tile > *{
    font-size:80%;
}
.row-tile > img {
    width:2.5rem;
    position:absolute;
    left:.25rem;
    bottom:.25rem;
}



@keyframes tileflip {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
        background-color: pink;
        color: transparent;
    }
    49.99% {
        transform: rotate3d(0, 1, 0, 90deg);
        background-color: pink;
        color: transparent;
    }
    50% {
        transform: rotate3d(0, 1, 0, 90deg);
        background-color: green;
        color: white;
    }
    100% {
        transform: rotate3d(0, 0, 0, 0deg);
        background-color: green;
        color: white;
    }
}

.active-tile{
    border-color: red;
}